# Ignore All Files
*.sh linguist-detectable=false
*.zsh linguist-detectable=false
* linguist-detectable=false

# Only Include File I write
linkdot.sh linguist-detectable=true
setup.sh linguist-detectable=true
*/scripts/* linguist-detectable=true
*.ps1 linguist-detectable=true
