[user]
	name = Nutthapat Pongtanyavichai
	email = 59821765+Leomotors@users.noreply.github.com
	signingkey = BC2CBF71AA0E795A5B998549A770366A5EF49FA3
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.14.3/bin/gh auth git-credential
[pull]
	rebase = false
[core]
	editor = nano
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
