[user]
	name = Nutthapat Pongtanyavichai
	email = 59821765+Leomotors@users.noreply.github.com
	signingkey = 22974643723D75E3AAC1FAE67903B8833EA0C9D2
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.14.3/bin/gh auth git-credential
[pull]
	rebase = false
[core]
	editor = nano
[push]
	autoSetupRemote = true
