[user]
	name = Nutthapat Pongtanyavichai
	email = 59821765+Leomotors@users.noreply.github.com
	signingkey = 042011EB38412A1BF9256C66BFE78DA8B2359C7A

[core]
	editor = nano
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
