[user]
	name = Nutthapat Pongtanyavichai
	email = 59821765+leomotors@users.noreply.github.com
	signingkey = 1E5A68095071A6F345DEA86EFA0B29CF1F7752E0

[core]
	editor = nano
	ignorecase = false
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
