[user]
	name = Nutthapat Pongtanyavichai
	email = contact@leomotors.me
	signingkey = /Users/leomotors/.ssh/id_ed25519.pub

[core]
	editor = nano
	ignorecase = false
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
